html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
    user-select: none;
   
}

/* body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    padding: 0 10px;
    border-radius: 7px;
    margin: 30px auto;
    width: 80%;
}

#logout-btn {
    background-color: #dc2626;
    padding: 7px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 600;
}
#logout-btn:hover {
    background-color: #b91c1c;
}

.container {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
    color: #432000;
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    font-size: 20px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
}

#add-button {
    color: #FDFDFD;
    background-color: #AC485A;
    border: 0;
    padding: 15px;
    font-size: 20px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    margin-bottom: 16px;
}

button:hover {
    background-color: #432000;
}


ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: #FFFDF8;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
     
}


ul li:hover {
    background-color: #FFECC7;
}

.no-item {
    opacity: .75;
}

/* login form refactor */

#login-container, #signup-container {
  /* padding: 24px; */
  /* height: 100vh; */
    width: 420px;
    margin: 30px auto;
}


.card {
  background-color: #ffffff;
  Border: 1px solid rgba(15, 23, 42, 0.08);
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(15, 23, 42, 0.08), 0 8px 24px rgba(15, 23, 42, 0.08);
  padding: 24px;
}

.title {
  text-align: center;
}

.field {
  display: grid;
  gap: 6px;
}
.login-form {
  display: grid;
  gap: 12px;
}

.login-input {
  height: 20px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid rgba(15, 23, 42, 0.08);
  background-color: #fff;
  color: #0F172A;
  font-size: 16px;
  outline: none;
}

.login-input:focus {
  border: 1px solid var(--primary);
  box-shadow: 0 0 0 4px rgba(37,99,235,.15);
}

.sub-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #2563eb;
  color: #fff;
  font-size: 16px;
  margin-top: 16px;
  font-weight: 600;
  cursor: pointer;
}

.sub-btn:hover {
  background-color: #0640bd;
}

.sub-btn:active {
  transform: translateY(1px);
}